@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appBlue: #013f8b;
  --appGrey: #f1f1f1;
  --appText: #746378;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}
.backdropSafari {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: 20px;
}
.headerBackdropSafari {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: 10px;
}

.headerBackground { 
  background-image: url("../../public/images/header1.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.logo {
  width: 300px;
  height: auto;
}

.headerBackground::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(248, 245, 245, 0.5);
}

.safari-fixes {
  direction: rtl;
}