@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appBlue: #013f8b;
  --appGrey: #f1f1f1;
  --appText: #746378;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-image: url("/background_2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  overflow-x: hidden;
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
}

.safari-fixes {
  direction: rtl;
}
